{:paths ["src/clj"] 
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        aerial.hanami/aerial.hanami {:mvn/version "0.20.1"}
       }
 :aliases {:nrepl-server {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}
                          :main-opts  ["-m" "nrepl.cmdline"]}}
}

